/* fileuploader */
.qq-uploader {}

.qq-upload-text{
	float:left;
	font-size:21px;
	font-weight:bold;
	color:#111;
	display: inline-block;
	margin:12px 0 4px 97px;
}
.qq-upload-button{
	margin-top: 13px;
	float:left;
	overflow: hidden;
	display: inline-block;
    margin-left: 28px;
    position: relative;
	}

.qq-upload-button-link {
/*    width: 105px; padding: 7px 0; text-align:center;    */
/*    background:#880000; border-bottom:1px solid #ddd;color:#fff;*/
 position:relative; font:bold 13px Arial,Helvetica; width:auto; cursor:pointer; overflow:visible; padding:0; border:0; margin:0; outline:none; white-space:nowrap; background-color:transparent;color:#257800 !important;  
   
}
.qq-upload-button-link::-moz-focus-inner {padding:0px;border:0px}
 .qq-upload-button-link span {display:block; padding-left:7px; height:28px; line-height:28px; background-position:0 -84px;background-image:url(../pic/prodreviews/btn-upload.png);}
     .qq-upload-button-link span span {background-position:100% 0; padding-right:15px; padding-left:8px}
    a.qq-upload-button-link {
        display:-moz-inline-stack; display:inline-block; text-decoration:none;
        }
   .qq-upload-button-hover a {text-indent:0;color:#257800 !important;text-decoration:none;cursor:pointer;}
        .qq-upload-button-hover a span {background-position:0 -112px;cursor:pointer;}
            .qq-upload-button-hover a span span {background-position:100% -28px;cursor:pointer;}
    
   
   

/*.qq-upload-button-hover a {cursor:pointer;}*/
/*.qq-upload-button-focus a {cursor:pointer;}*/

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:0px 0px; padding:0; list-style:none; text-align: center;}
.qq-upload-list li { padding:3px; margin: 12px 10px 5px 0; line-height:15px; font-size:10px; list-style: none !important; background-color: #FFFFFF; }
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    /*margin-right: 7px;*/
}

.qq-upload-file {/*background-color:#D1D7DC; width: 110px; height:90px; padding-top:14px; padding-bottom:4px;*/ position: relative;}
.h-newthread .qq-upload-file{background-position: -13800px 0; background-color: #FFFAEB;}
.qq-upload-file .qq-upload-img {width: 80px; height:80px; margin: 0px auto; position: relative; text-align:center;}
.img-div {position:absolute; bottom:0px; width:100%;}
.qq-upload-img img {cursor:pointer;}
.qq-loading .qq-upload-img {background:url("/pic/loading_2.gif") no-repeat 50% 35%;}
.qq-cancel-div {font-size:10px; top: 67%; margin:0 auto; width: 53px; position: relative;}
a.qq-upload-cancel {text-decoration: underline;}
.qq-upload-failed .qq-upload-img {background:url("/pic/failed.gif") no-repeat 50% 50%;}

.qq-upload-failed-text {display:none;}
.qq-upload-failed-text {display:inline;}


/* thumbs */

.qq-upload-list {text-align: left;}
.qq-upload-list li {float: left;}
.thumbnail {height: 80px; margin-top: 5px;}

#file-uploader {}
#file-uploader > .btn-container {clear:both; position: relative;}
.btn-container > span {color:#808080; font:13px Arial; margin-left: 28px;position: relative;float:left;margin-top:20px;}


.del-icon-label {
    background-image: url("/pic/ico-del.png");
    position: absolute;
    cursor: pointer;
    width: 10px;
    width: 10px;
    height: 10px;
    right: 0px;
    display:none;
    top:0px;
    display: none;
}
.qq-loading:hover > .del-icon-label {display:none;}

.qq-gallery-item {
    border: 1px solid #E5E5E5;
    float: left;
    height: 80px;
    margin: 2px;
    padding: 2px;
    width: 80px;
    position:relative;
}

li.qq-gallery-item:hover .del-icon-label {display:block;}
