 /* morozov sellers */
.sellers-tbl {
    /*padding-bottom:10px;*/
    }
    .sellers-tbl__table {
        width:100%; border-collapse:collapse; cell-spacing:0
        }
    .sellers-tbl__table td {
        color:#4c4c4c; font:11px/14px Verdana,Tahoma; padding:10px; vertical-align:top;
        }

    .sellers-tbl__table th {
        font:11px Verdana,Tahoma; background-color:#edf6fb; padding:10px; border-bottom:10px solid #fff; white-space:nowrap;
        }
    .seller-logo {
        text-align:right;
        }
    .seller-info {
        text-align:left;
        }
        .seller-info-i {
            height:auto !important; min-height:31px;height:31px; line-height:31px;
            }

    .seller-stars {
        float:left; width:105px; height:19px; background:#d9d9d9 url(../pic/proposals/seller-stars.png) repeat-x 0 -38px; margin-right:20px; margin-top:5px;
        }
        .seller-stars i {
            display:block; height:19px; background:#fa4b1e url(../pic/proposals/seller-stars.png) repeat-x 0 -57px;
            }

        .sellers-tbl__table .seller-stars {
            background-position:0 0
            }
            .sellers-tbl__table .seller-stars i {
                background-position:0 -19px;
                }

    .seller-response {
        float:left; font:11px Verdana,Tahoma; padding-right:10px;
        }
        .sellers-tbl__table th .seller-response {
            line-height:31px;
            }

    .seller-refresh {
        float:right; color:#808080; font-size:10px; font-family:Verdana,Tahoma; padding-right:10px;
        }
    .seller-rf-1 {
        color:#090;
        }

    .seller-rf-2 {
        color:#ff6000;
        }
    .seller-rf-3 {
        color:#808080;
        }
    .seller-rf-4 {
        color:#f90;
        }
    .seller-cost {
        text-align:right; white-space:nowrap;
        }
    .seller-desc {
        padding-top:18px;
        }
    .seller-cost big {
        font:bold 21px/24px Arial,Helvetica;
        }

    .seller-cost big small {
        font-size:15px; font-weight:normal;
        }

    .seller-cost .rechange {
        display:-moz-inline-stack; display:inline-block; color:#808080; font-size:10px; padding-top:2px;
        }
    .seller-cost .rechange small {
        font-size:1em; padding-left:4px;
        }
    .seller-best {
        float:left; width:24px; height:26px; background:url(../pic/proposals/best-of-best.png); font-size:1px; margin-top:3px;
        }

/* -- sellers li --*/
ul.sellers-tbl__table {
    list-style-type:none; margin:0; padding:0; zoom:1;
    }
    ul.sellers-tbl__table:after {
        content: "\0020"; display: block; height: 0; visibility: hidden; clear:both;
        }
.sellers-tbl__li {
    list-style-type:none; margin:0; padding:0;
    }
    .sellers-tbl__li a:hover {
        text-decoration:none;
        }
    .seller-tbl-offers__a {
        display:block;
        color: #4C4C4C !important;
          font: 11px/14px Verdana,Tahoma;
          padding: 0px 0px 0px 110px; zoom:1;
        }
        a.seller-tbl-offers__a:hover {
            text-decoration:none; background-color:#fffacd;
            }
    .seller-tbl-offers__a .seller-cost {
        float:left; position:relative; left:-110px; margin-right:-170px; width:100px; text-align:right; padding:10px 0;
        }
        .seller-tbl-offers__a .seller-cost big {
            color:#034B83;
            }
    .seller-tbl-offers__a:after {
        content: "\0020"; display: block; height: 0; visibility: hidden; clear:both;
        }


.sellers-tbl-header {
    display:block; background-color:#edf6fb; padding:10px 10px 10px 130px; zoom:1;
    }
    .sellers-tbl-header:after {
        content: "\0020"; display: block; height: 0; visibility: hidden; clear:both;
        }
    .sellers-tbl-header .seller-logo {
        position:relative; left:-120px; margin-right:-170px; float:left; width:100px; text-align:right;
        }
    .sellers-tbl-header .seller-info {
        float:right; width:100%;
        }
    .sellers-tbl-header .seller-response {
        line-height:31px;
        }
/* -- / sellers li --*/

.b-info-cat {
    color:#808080; font:10px/15px Verdana,Tahoma; background:url(http://static.onliner.by/pic/ico_curr.gif) no-repeat 10px 22px; padding:20px 0 0 29px;
    }
    .b-info-cat p {
        margin:0; padding:0 0 8px;
        }
.sellers-nopd {
    position:relative; margin-top:-5px; padding-right:3px;
    }

.cost-filter td {
    vertical-align:top;
    }
    .cost-filter input {
        width:150px; margin-bottom:5px;
        }
    .cost-filter .t-lb {
        position:absolute; font-size:11px; margin-top:4px;margin-left:-23px; width:15px; text-align:right;
        }
    .cost-filter .pst1 {
        padding-top:6px;
        }

.pstable-nw .pst1, .pstable-nw .pst0 {
    padding-left:10px;
}

    /* header seller */
    .header-seller {
        border-collapse:collapse; border-spacing:0;
    }
        .header-seller td {
            padding:0;
            }
        .header-seller .seller-logo {
            padding-right:20px;
            }

        .header-seller h1 {
            padding-right:20px;
            }

        .header-seller .seller-stars {
            margin-top:0; margin-right:10px;
            }
    /* header seller */

    /* seller card */
    .seller-card {
        background-color:#fffcea; margin:0 0 10px; padding:7px 20px 10px; max-width: 850px; word-wrap: break-word; //zoom:1;
        }
        .seller-card:after {
            content:".";display:block;font-size:1px;height:0;clear:both;visibility:hidden
            }

        .seller-card .sc-contacts {
            float:left; width:45%;
            }

            .seller-card .sc-contacts p {
                margin:0; padding:0 0 6px; font:15px/26px Arial,Helvetica;
                }
            .seller-card .sc-contacts .opname {
                color:#808080; font-size:1em;
                }

        .seller-card .sc-timework {
            float:right; width:50%; font-size:11px; line-height:16px;
            }
            .seller-card .sc-timework h2 {
                font-weight:normal;
                }
            .timetbl {
                margin:0; padding:3px 0 14px; list-style-type:none; //zoom:1
                }
                .timetbl:after {
                    content:".";display:block;font-size:1px;height:0;clear:both;visibility:hidden
                    }
                .timetbl li {
                    float:left; color:#fff; font:10px Arial,Helvetica; padding:4px 5px 3px; background:#7dc31f url(../pic/proposals/time-bg.png) repeat-x 0 0; margin-right:2px;
                    }
                    .timetbl .time-nowork {
                        color:#ccc;border:1px solid #e6e6e6; background:none; padding:3px 4px 2px;
                        }
            .seller-card .sc-timework p {
                margin:0; padding:2px 0 0;
                }

        .seller-card h2 {
            font:bold 15px Arial,Helvetica; margin:0; padding:0 0 3px;
            }

        .seller-card .i-ict {
            vertical-align:top; margin:4px 4px 0 0;
            }

    .seller-prodcard {
        background-color:#eff4fd; padding:18px 20px 5px; margin-bottom:10px; //zoom:1
        }
        .seller-prodcard h2 {
            font:bold 15px Arial,Helvetica; margin:0; padding:0 0 7px;
            }
            .seller-prodcard .rate {
                vertical-align:top; margin:1px 0 0 4px;
                }
        .spc-stat {
            font-size:10px; margin:0; /*padding:0 0 13px;*/ list-style-type:none;
            }
            .spc-stat li {
                /*float:left; padding-right:15px;*/
                margin-bottom:6px
                }
            .spc-stat sup {
                position:relative; color:#808080; top:-4px; font-size:8px; vertical-align:baseline; //font-size:9px;
                }
    .seller-desc-info {
        font:13px/16px Arial,Helvetica; padding:10px;
        }
        .seller-desc-info p {
            padding:0 0 9px; margin:0;
            }
        .seller-desc-info .more-inf {
            font:11px Verdana,Tahoma;
            }
    .seller-sertif {
        position:relative; margin:-18px 0 19px;
        }
    .seller-infocard {
        color:#4c4c4c; font:10px Verdana,Tahoma,Geneva; line-height:14px; padding:0 10px; max-width: 300px; word-wrap: break-word;
        }
        .seller-infocard p {
            padding:0 0 10px; margin:0;
            }
    .link-complain {
        color:#f33; padding-right:18px; background:url(../pic/proposals/complain.gif) no-repeat 100% 0;
        }

    .seller-discount {
        color:#4d4d4d; font:10px Verdana,Tahoma,Geneva; line-height:14px; border:1px solid #e5e5e5; padding:5px 9px 6px; margin-bottom:10px;
        }
        .seller-discount p {
            margin:0; padding:5px 0;
            }
        .seller-discount img {
            margin:0 0 3px; vertical-align:top;
            }
    .seller-infoprice {
        color:#333; font:11px/18px Verdana,Tahoma; border:1px solid #d3f0bb; padding:13px 10px 0 23px;
        }
        .seller-infoprice h3 {
            position:relative; font:bold 13px Arial,Helvetica; margin:0 0 0 -15px; padding:0 0 8px 15px; background:url(../pic/proposals/i-price.gif) no-repeat 0 2px;
            }
        .seller-infoprice p {
            margin:0; padding:0 0 4px;
            }
        .seller-infoprice .sml {
            font-weight:bold; font-size:10px;
            }
        .seller-infoprice .reprice {
            position:relative; margin:2px -10px 0 -23px; background-color:#e8ffd3; text-align:center; padding:6px 0 5px;
            }
    /* / seller card */

/* morozov sellers */

.device-card {}

.device-card .stars {margin-bottom:10px;}

.device-card .device-price {color:#ff6300; font:20px/24px Arial,Helvetica;}

.seller-prodcard .pos_hidden {display:none;}



.shoprev_row .revpc {clear:both;}
.shoprev_row .rev-rating-desc {top:8px; left:-12px;}
.shoprev_row .revpc {top:6px;}
.shoprev_row .rev-summary {margin-top:0px;}
.shoprev_row .rev-user-avatar {left:-60px;}

.more-offers {display:none;}
table.more-offers {margin-top:20px;}
.mo-row td {border-bottom:1px solid #E5E5E5;}
.mo-row a:hover {text-decoration:none;}
.mo-dev-image {padding:15px 20px;}
.mo-dev-name {margin-top:15px;}
.mo-dev-name a {font-size:15px; font-weight:bold;}
div.more-offers td,th {font-family:Arial;}
.mo-stars {padding:6px 0;}
.mo-pars-overview {margin-bottom:10px;}
.mo-price {color: #FF6300; font: 21px/24px Arial,Helvetica; margin-bottom:12px;}

.position-row {cursor:pointer;}
.position-row:hover {background-color:#FFFACD;}
.seller-row {cursor:pointer;}


.pline-price {border-top:1px solid #CCCCCC;}
.highlight-price {border:1px solid #FF874A;}
.sellers-tbl__li > .highlight-price {background-color:#FFFDE6;}
.highlight-price .poprice a {color:#C5440A}
.highlight-price .seller-cost > big {color:#C5440A}
.highlight-price .poprice {background-color:#FFFDE6;}
.highlight-price .seller-cost a {color:#C5440A}
.highlight-price .seller-cost {background-color:#FFFDE6;}

a.seller-tbl-offers__a:hover .seller-desc,
a.seller-tbl-offers__a:hover .seller-cost {
    text-decoration:none; background-color:#fffacd;
}

.seller-tbl-offers__a .seller-desc {
    background-color:#FFFFFF;
    padding:10px 20px 10px 10px;
}

/* -- filter sellers --*/
.b-filtersellers {
    position:relative; font-size:11px; margin-top:-10px; bottom:-10px; zoom:1;
    }
    .b-filtersellers:after {
        content: "\0020"; display: block; height: 0; visibility: hidden; clear:both;
        }
    .b-filtersellers .select-town {
        float:left; width:110px;
        }
    .b-filtersellers-path {
        margin-left:140px; padding-top:2px;
        }
        .b-filtersellers-path a {
            color:#004d99 !important;
            }
        .b-filtersellers-path .arr {
            color:#808080; font:13px Arial,Helvetica;
            }

span.prods-regions-link, span.prods-regions-link:visited {
    color:#390; font-weight:bold;
    }

.b-slr-twn-tabs {
    font:11px Verdana,Tahoma; border-bottom:1px solid #ccc; zoom:1; margin-bottom:4px;
    }
    .b-slr-twn-tabs li {
        float:left; padding:5px 11px 3px;
        }
    .b-slr-twn-tabs a, .b-slr-twn-tabs a:visited {
        color:#004d99;
        }
    .b-slr-twn-tabs .count {
        color:#808080; font-size:10px; font-weight:normal;
        }
    .b-slr-twn-tabs li.active {
        position:relative; border:1px solid #ccc; border-bottom-width:0; margin-bottom:-1px; font-weight:bold; background-color:#fff; padding:4px 10px 5px;
        }
        .b-slr-twn-tabs .active a, .b-slr-twn-tabs .active a:visited {
            color:#a73300;
            }
    .b-slr-twn-tabs:after {
        content: "\0020"; display: block; height: 0; visibility: hidden; clear:both;
        }

td.sellers-regions-error {
    text-align:left; padding:17px 10px 0;
    }
    td.sellers-regions-error p {
        color:#808080; font-size:11px; line-height:13px; padding:0; margin:0;
        }
    td.sellers-regions-error h2 {
        color:#f00; font:bold 15px/19px Arial,Helvetica; padding:0; margin:0;
        }
th.seller-regions-header {
    padding:20px 0 0 0; text-align:left;
    }
    th.seller-regions-header h2 {
        font:bold 13px/18px Arial,Helvetica; background-color:#eff4fd; padding:6px 10px;
        }
    th.seller-regions-header h2 a, th.seller-regions-header h2 a:visited {
        color:#004d99;
        }
/* -- / filter sellers --*/